h1 {
    background-color:DarkCyan;
    color:white;
    opacity:0.75;
    text-decoration:blink;
}

body {
    background-color:rgba(127, 255, 212, 0.60);
    font-family:Roboto Mono;
    font-size:75%;
}

.vertical-center {
    display:flex;
    align-items:center;
}

.btn {
    font-size:1em;
    color: #fff;
    background-color: #007bff;
}

.btn:hover {
    background-color:black;
}

.btn:active {
    background-color:inherit;
    color:black;
}

.ui-accordion-header {
    background-color:DarkCyan;
    border:none;
    text-align:left;
}
.ui-state-default {
    color:white;
}
.ui-icon {
    background-image: url("images/ui-icons_ffffff_256x240.ea4ebe072be7.png");
}

#accordion {
    max-width:500px;
}
#intro {
    background:url('https://t1.daumcdn.net/cfile/tistory/998CAC335A213D3C09?original')no-repeat center center fixed;
    background-size:cover;
}