.jumbotron-fluid{
    background-color:#252839;
    color:white;
    opacity:0.75;
    text-decoration:blink;
}

body {
    background-color:#ced3e4;
    font-family:Roboto Mono;
    font-size:75%;
}
.vertical-center {
    display:flex;
    align-items:center;
}

.btn {
    font-size:1em;
    color: #fff;
    background-color: #f2b532;
    width:auto;
}

#loader {
    width: 128px;
    height: 128px;
    position: absolute;
    left: 43%;
    top: 43%;
    background: url("images/Preloader_6.74e5502a9191.gif")
}

.btn:hover {
    background-color:#ee9e2b;
}
a:hover {
    color:white;
}
#id_status {
    max-height:125px;
    background-color:#edecfa;
    border:0px;
    border-radius:15px 15px 0px 0px;
    box-shadow:1px 1px 5px grey;
    margin-bottom:10px;
    resize:none;
}
#id_img_profile {
    max-width:100%;
    height:auto;
}
#box_img {
    max-width:400px;
}

table {
    box-shadow:1px 1px 5px grey;
    margin-top:2em;
}
.table td, .table th {
    border-top:0px;
}

.ui-accordion-header {
    background-color:#252839;
    border:none;
    text-align:left;
    font-size:20px !important;
}

.ui-accordion-content {
    background-color:#edecfa;
    font-size: medium;
    color: black;
    height: auto !important;
}
.ui-state-default {
    color:white;
}
.ui-icon {
    background-image: url("images/ui-icons_ffffff_256x240.ea4ebe072be7.png");
}


#accordion {
    max-width:500px;
}

.shadow {
    box-shadow:1px 1px 6px grey;
}
.img-thumbnail {
    padding: 1px;
    border-radius: 0%;
}