{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta name="google-signin-client_id" content="517975541022-mfsjn0g6bqfgmv7ue524pedc5g877nog.apps.googleusercontent.com">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--Google Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href='{% static "css/jquery-ui.min.css" %}'>
        <link rel="stylesheet" href='{% static "css/style.css" %}'>
        <link rel="icon" href="{% static 'css/images/favicon.ico' %}">


        <title>Posting Status</title>
    </head>
    <div id="body_parent">
    <body id="id_body" onload="loading()">
        <div id="loader" class="loader"></div>
        <div id="mydiv" style="display:none;">
            <nav class="navbar navbar-expand-sm navbar-light d-flex justify-content-end text-right">
                <button style="border: 0px;"class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-4 mr-4">
                        <li class="nav-item"><a href="{% url 'landingpage' %}" class="nav-link">Status</a></li>
                        <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="{% url 'library' %}" class="nav-link">Library</a></li>
                        <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">Subscribe</a></li>
                        <li class="nav-item"><a href="{% url 'listsubscriber' %}" class="nav-link">List of Subscriber</a></li>
                    </ul>
                </div>

            </nav>

            {% block content %}
            {% endblock %}
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src='{% static "js/jquery.js" %}'></script>
        <script src='{% static "js/jquery-ui.min.js" %}'></script>
        <script src='{% static "js/scripts.js" %}'></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script>
            var myVar;
            function loading() {
                myVar = setTimeout(showPage, 1700);
            }
            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                  console.log('User signed out.');
                  localStorage.removeItem('profile');

                  $('#id_h1_jumbotron').html('Search for your book');
                  $('#id_h1_jumbotron_landingpage').html('Hello, Apa kabar?');
                });
            }
        </script>
    </body>
    </div>
</html>