{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron-fluid text-center shadow">
    {% if user.is_authenticated %}
        <h1 class="display-5 p-5" id="id_h1_jumbotron_landingpage">How are you {{ user.first_name }}?</h1>
    {% else %}
        <h1 class="display-5 p-5" id="id_h1_jumbotron_landingpage">Hello, Apa kabar?</h1>
    {% endif %}
</div>
<div class="container">
    <form action="{% url 'addstatus' %}" method="POST" id="form_status">
        <div class="col-12">
            <div class="row m-1">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col-sm-12 col-md-5">
                            {% csrf_token %}
                            {{ form_status }}
                        </div>
                    </div>
                </div>
                <div class="col-12 justify-content-center text-center vertical-center">
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" id='id_submit' class="btn shadow col-sm-12 col-6 m-1 p-1">Submit</button>
                            <a  id="id_profile_button" class="btn shadow col-sm-12 col-6 m-1 p-1" href="{% url 'profile' %}">See My Profile</a>
                            <a  id="id_theme_button" class="btn shadow col-sm-12 col-6 m-1 p-1" href="#">Change Theme</a>
                        </div>
                    </div>
                </div>
            </div>
{#            <div class="row">#}
{#                <div class="col">#}
{#                    <div class="g-signin2 m-2" data-onsuccess="onSignIn"></div>#}
{#                    <a class="btn shadow m-2 mb-5" href="#" onclick="signOut()">Sign out</a>#}
{#                </div>#}
{#            </div>#}

            <div class="row m-1">
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in statuss %}
                            <tr>
                                <td> {{i.status}} </td>
                                <td> {{i.date|date:"d M, Y"}} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}