{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        {% if user.is_authenticated %}
            <h1 class="display-4" id="id_h1_jumbotron">Hello {{ user.first_name }} <br> You can choose your book</h1>
        {% else %}
            <h1 class="display-4" id="id_h1_jumbotron">Search for your book</h1>
        {% endif %}

        <p class="lead"><small>Click the sparkle button for the favorite one &#9786</small></p>
    </div>
</div>
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-2">
{#            <div class="g-signin2 m-2" data-onsuccess="onSignIn"></div>#}
            <a class="btn shadow m-2" href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
        </div>
        <div class="col-2">
             <a class="btn shadow m-2" href="{% url 'logoutdjango' %}">log out</a>
        </div>
    </div>
</div>

<div class="table-responsive-sm mx-lg-5">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-lg-3 col-xs-12">
                <h1 id="id_favorite" class="h6">Favorite : {{ favorite }}</h1>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="input-group shadow">
                    <input type="text" class="form-control" id="id_input_search">
                    <div class="input-group-append">
                        <button class="btn" id="id_search_button">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Thumbnail</th>
                <th>Author</th>
                <th>Title</th>
                <th>Add to<br>Favorite</th>
            </tr>
        </thead>

        <tbody id="id_table_content">

        </tbody>


    </table>
</div>

{% endblock %}