{% extends 'base.html' %}
{% block content %}
<div class="jumbotron-fluid text-center">
    <h1 class="display-5 p-5 shadow">Darell Hendry</h1>
</div>
<div class="container-fluid text-center">
    <div class="row justify-content-center">
        <div class="col-9">
            <center>
            <div id="box_img">
                <img id="id_img_profile" class="shadow p-0 img-thumbnail m-2" src="https://lh3.googleusercontent.com/WgxbGJPpblnUL3gs0waJIHfY835PVKoEMIsQ56vCp_FGyTVzqn9sDFYQpMxuQoLgN39w16wK9ZKkuQ=s640-no">
            </div>
            </center>
            <blockquote class="blockquote">
                <p class="h1">&ldquo;</p>
                <p class="h6">Computer Science student at University of Indonesia recently working on design <strong>web project</strong> and mastering <strong>data structure and algoritm</strong></p>
                <p class="h1">&rdquo;</p>
            </blockquote>
        </div>
    </div>
<center>
    <div class="container">
        <div id="accordion" class="shadow ui-accordion ui-widget mb-5">
            <h3 class="ui-accordion-header ui-state-default">Activity</h3>
            <div class="ui-accordion-content">&bkarow; Play badminthon every saturday<br>&bkarow; Reading medium article</div>
            <h3 class="ui-accordion-header ui-state-default">Organization</h3>
            <div class="ui-accordion-content">&bkarow; FUKI 2018</div>
            <h3 class="ui-accordion-header ui-state-default">Achievement</h3>
            <div class="ui-accordion-content">&bkarow; Make a website from scratch</div>
        </div>
    </div>
</center>
</div>

{% endblock %}
