{% extends 'base.html' %}

{% block content %}
<div class="jumbotron-fluid p-5 mb-3">
    <h1>Join our subscribtion!</h1>
</div>
<div class="container-fluid d-flex justify-content-center">
    <div class="form_register">
        {% csrf_token %}
{#        <input type="text" value="Your Name">#}
{#        <input type="email" value="example@gmail.com">#}
{#        <input type="password">#}
        {{ regis_form }}
        <button id="submit_register" type="submit" class="btn shadow">Submit</button>
    </div>


</div>
{% endblock %}