{% extends 'base.html' %}
{% load static %}


{%  block content %}
<div class="jumbotron-fluid p-5 mb-3">
    <h1>Join our subscribtion!</h1>
</div>

<div class="table-responsive-sm mx-lg-5">
    <div class="container-fluid">
        <div></div>
        <div class="row">
            <div class="col">
                <button class="btn shadow" id="id_button_unsub">Unsubscribe All</button>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Unsubscribe</th>
            </tr>
        </thead>
        <tbody id="id_tbody_user">

        </tbody>


    </table>
</div>
<div class="container-fluid text-center" style="display: none" id="password_confirmation">
    <input type="password" id="password_confirmation_input">
    <button style="display: block;" class="btn" id="password_confirmation_button">Confirm</button>
</div>
{%  endblock %}