{% extends 'base.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <div class="text-center container" style="height:100%">
        {% if user.is_authenticated %}
            <p class="display-4">Hello, {{ user.first_name }} {{ user.last_name }}</p>
            <a class="btn shadow" href="{% url 'library' %}">Go to Library</a>
        {% else %}
            <a class="lead" href="{% url 'library' %}">Back to Library</a>
        {% endif %}

    </div>

{% endblock content %}